@font-face {
    font-family: "Nunito", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,650;1,650&display=swap)
}
h2 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: center;
}
h3 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: left;
    margin-left:20em;
  }
.content {
    position: relative;
    z-index: 1; 
}
a:hover {
    filter: brightness(150%);
    cursor: pointer;
}
