@font-face {
    font-family: "Nunito", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,650;1,650&display=swap)
}
h2 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: center;
}
h3 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: left;
    margin-left:20em;
  }
section.vid {
    height: 1100vh;
    position: relative;
}
section.vid div.holder {
    position: sticky;
    top: 0;
}
section.vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}
section.vid div.story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}
section.vid div.story div {
    height: 100vh;
    /* width:600px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align:left; */
    /* justify-content: center; */
    /* margin-left: 20em; */
}

/* Glass Effect */
.glass{
    background: linear-gradient(135deg, #cbe4d9, #abd4c9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    box-sizing: border-box;
    width: 875px;
    height: 545px;
    padding: 65px 65px;
    overflow: hidden;
  }
  .glass-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; 
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1; 
}