@font-face {
    font-family: "Nunito", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,650;1,650&display=swap)
}
h2 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: center;
}
h3 {
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: left;
    margin-left:20em;
  }
.content {
    position: relative;
    z-index: 1; 
}

/* Shimmer! */
/* @keyframes shimmer {
    0%, 100% { filter: brightness(100%); }
    50% { filter: brightness(140%); }
}
span {
    animation: shimmer 2s infinite alternate;
} */
    @keyframes shimmer {
        0%, 100% { opacity: 0.8; }
        50% { opacity: 1; }
    }
span {
    animation: shimmer 3s infinite alternate ease-in-out;
    will-change: opacity; 
}
.shimmer {
    display: inline-block; 
    animation: shimmer 3s infinite alternate ease-in-out;
}
a:hover {
    filter: brightness(150%);
    cursor: pointer;
}